Django==1.8.5
argparse==1.2.1
decorator==4.0.4
dj-database-url==0.3.0
dj-static==0.0.6
django-extensions==1.5.9
flake8==2.4.1
gunicorn==19.0.0
ipython==4.0.0
ipython-genutils==0.1.0
mccabe==0.3.1
path.py==8.1.2
pep8==1.5.7
pexpect==4.0.1
pickleshare==0.5
psycopg2==2.6.1
ptyprocess==0.5.1
pyflakes==0.8.1
pyreadline==2.1
pystache==0.5.4
simplegeneric==0.8.1
six==1.10.0
static==1.0.2
static3==0.6.1
traitlets==4.0.0
wsgiref==0.1.2
